[2020-07-11 15:24] laberin opened #12 "oci-objectstorage::PutObjectRequest `content-length` is not optional"
oci-objectstorage@1.2.2

I guess it should be optional as [python-sdk](https://oracle-cloud-infrastructure-python-sdk.readthedocs.io/en/latest/api/object_storage/client/oci.object_storage.ObjectStorageClient.html#oci.object_storage.ObjectStorageClient.put_object)

[code]

[2020-07-29 18:47] waruwaruwaru opened #16 "Email Service Example"
A Customer reached out to me for an example to use oci-email service to send emails. Creating an issue for tracking purposes.

[2020-08-13 21:54] waruwaruwaru commented on #16
Email example is now available in:
https://github.com/oracle/oci-typescript-sdk/blob/master/examples/typescript/email.ts
https://github.com/oracle/oci-typescript-sdk/blob/master/examples/javascript/email.js

[2020-08-13 21:54] #16 closed

[2020-09-25 00:44] kishore-oracle opened #24 "HELP NEEDED - Can you provide feedback on OCI SDKs?"
Are you an OCI customer and would you be willing to spend a few minutes on a call and provide feedback about your experience of using the OCI SDK? email: [kishore.ramamurthy@oracle.com](mailto:kishore.ramamurthy@oracle.com). Thanks.

[2020-10-27 18:48] waruwaruwaru commented on #12
contentLength is now an optional parameter. SDK will auto-calculate contentLength if user does not provide it.

[2020-10-27 18:48] #12 closed

[2020-12-19 00:58] moimstone-Crong opened #37 "Typescript compile error on object storage SDK"
Hi, I'm introcuded recently to oracle cloud.
I'm trying to build a little application to prove my object storage management strategy concept. Before writing my own code, I just wanted to try SDK and know how to set credentials on it.
However, when I built the typescript example source file which is in example directory (https://github.com/oracle/oci-typescript-sdk/blob/master/examples/typescript/o

[2020-12-19 01:05] jyotisaini commented on #37
Hi @moimstone-Crong  Can you change typescript version in your package.json to "typescript": "3.6.4" and try again? Our SDK does not support typescript version above 3.6.4. As you are using typescript version ^3.6.4, its probable that you have  higher version of typescript.

[2020-12-19 02:29] moimstone-Crong commented on #37
Oh, I have misunderstood the meaning of ^. After removing ^, I can compile without any errors.

Thanks

[2020-12-19 02:29] #37 closed

[2020-12-21 22:59] Dhananjay131 opened #38 "TC builds fails on this dependency"
https://github.com/oracle/oci-typescript-sdk/blob/f5408266b915c1e25b68c5fe028ad71f71d2c090/lib/common/package.json#L31

[2020-12-21 23:07] Dhananjay131 opened #39 "TC builds fails on dependency opossum as TC agent box are running on node v6.17.1"
https://github.com/oracle/oci-typescript-sdk/blob/f5408266b915c1e25b68c5fe028ad71f71d2c090/lib/common/package.json#L31

`error opossum@5.0.1: The engine "node" is incompatible with this module. Expected version ">= 10"`

[2020-12-21 23:08] #38 closed

[2020-12-21 23:52] #39 closed

[2020-12-28 09:17] hiriumi opened #40 "Trying to List Instances"
I am trying to get a list of instances. I am just starting to get into OCI SDK for JavaScript (TypeScript) so I am exploring the APIs right now.

When I try to execute the following code just to try, I do get the instances but the test doesn't seem to work for me. It succeeds no matter what. I may be missing something but I am wondering what I could do to get over the issue. It may be my lack of u

[2020-12-28 19:17] hiriumi opened #41 "How to execute examples"
I've written Python scripts using OCI Python SDK quite a bit but I am relatively new to executing Typescript/Javascript though I have experiences in very old JavaScript. It would be great to show how to execute samples. And I think it would be great to mention to have the `~/.oci/config` file ready or at least mention that `OCI CLI` setup is a prerequisite.

It would also be nice to learn how one

[2020-12-29 02:04] hiriumi opened #42 "How to contribute?"
I wrote an example to list instances for a compartment in a new branch.

I tried to push it but it was denied. My thought process of contributing is like this.

* Create a new branch locally.
* Work on the code. Test it locally.
* Commit the change.
* Push it and create a PR out of it.
* Get it reviewed.
* Make changes as necessary.
* PR gets approved.
* Merged to master.

How does your team accep

[2021-01-03 23:35] jodoglevy commented on #40
Hi @hiriumi ,

What test framework are you using, and what "failure scenario" are you expecting the test to fail on, which it does not fail on?

My hypothesis on brief look at your code is that you only have an `expect` call within the iterator which is iterating over the `listInstances` response's instances. Therefore, if the `listInstances` response has 0 instances (items) to iterate over (for e

[2021-01-03 23:41] jodoglevy commented on #42
Hi @hiriumi ,

The reason your push failed is because you do not have write access to this GitHub repo, and you attempted to push directly to this repo. Instead, you should fork this repo, push your changes to that fork, and then issue a PR from your fork to this repo.

For more info see https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo and https://docs

[2021-01-05 20:23] waruwaruwaru commented on #41
Hi @hiriumi, refer to this page for running examples: https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/typescriptsdkexamples.htm

[2021-01-05 20:25] waruwaruwaru commented on #40
Wrapping the API call in a try/catch block may help you identify what errors you are getting. Can you provide the error message that you're getting?

[2021-01-06 00:59] ricardo-kagawa commented on #40
I don't know the specific test runner you are using, but most of the ones I know of need a signaling that a test needs to be awaited and (equivalently) when it is done running. Usually the test example is an async function, or equivalently it returns a `Promise`, or alternatively it provides a `done` callback as an argument that you must call after you are done testing (at the end of your last `th

[2021-01-06 01:44] ricardo-kagawa opened #43 "Conflict with Kubernetes client"
It is generally considered bad practice to mutate the prototype of a native object, probably because it often causes unintended far-reaching side-effects.

https://github.com/oracle/oci-typescript-sdk/blob/v1.10.0/lib/common/lib/waiter.ts#L13

In my case, it breaks the [Kubernetes client](https://www.npmjs.com/package/@kubernetes/client-node)'s JSON serializer. As a matter of fact, them iterating

[2021-01-06 04:20] hiriumi commented on #41
@waruwaruwaru
That does it. Thank you very much! 👍

[2021-01-06 04:20] #41 closed

[2021-01-06 04:21] hiriumi commented on #42
Fork is the part I missed. I will try to do that. Thank you, @jodoglevy ! 👍

[2021-01-06 04:21] #42 closed

[2021-01-06 05:30] hiriumi commented on #40
Thank you @jodoglevy , @waruwaruwaru and @ricardo-kagawa for replying to my question. I didn't think of async issue that might be the issue. I will dig around more and let you guys know.

[2021-01-14 18:58] waruwaruwaru commented on #40
Hi @hiriumi, are you still getting any issues with the SDK?

[2021-01-14 21:53] waruwaruwaru commented on #43
@ricardo-kagawa thank you for the information. Would you happen to have the error message? It looks like our code is mutating the prototype of the native object which causes this issue. I will be taking a look into this 👍

[2021-01-15 02:29] ricardo-kagawa commented on #43
It does not exactly throw errors from within `oci-sdk` itself, or even from within `@kubernetes/client-node`. Instead, the presence of `oci-sdk` causes `@kubernetes/client-node` to send invalid requests to Kubernetes API server, which then proceeds to reject the operation with Kubernetes API error messages (a JSON object coming with an HTTP 400 status, describing the API validation error). I doubt

[2021-01-20 22:07] waruwaruwaru commented on #40
@hiriumi I will close this issue as I have not heard back. Please feel free the re-open this issue if is an SDK issue.

[2021-01-20 22:07] #40 closed

[2021-01-26 11:46] fkamp commented on #37
Are there any plans to support Typescript 4.1.3 any time soon?

[2021-01-26 20:50] waruwaruwaru commented on #37
@fkamp oci-typescript-sdk now supports TypeScript v4.1.3. The current latest version have TypeScript v4.1.3 support. https://www.npmjs.com/package/oci-sdk/v/1.13.0

[2021-02-03 03:59] nochmu opened #48 "How to get the value of an ORACLE Vault Secret?"
I would like to get the value of an Oracle Vault Secret from inside an Oracle Function .
Like this: [in Java](https://blogs.oracle.com/developers/protect-your-sensitive-data-with-secrets-in-the-oracle-cloud) or this [in Python](https://github.com/oracle/oracle-functions-samples/tree/master/samples/oci-vault-get-secret-python)

In the examples I find only one example, if I send the encrypted value

[2021-02-03 21:44] waruwaruwaru commented on #43
@ricardo-kagawa the latest SDK should no longer modify Array.prototype. This should resolve the issue with Kubernetes client-node package. Thank you for pointing this out. Feel free to reopen this issue if the problem is still occurring on the latest version of the SDK.

[2021-02-03 21:44] #43 closed

[2021-02-04 00:25] waruwaruwaru commented on #48
Hi @nochmu,
The TypeScript SDK's secret client should have this same API. Its the getSecretBundle API.
Here is an example https://docs.oracle.com/en-us/iaas/tools/typescript-sdk-examples/1.14.0/secrets/GetSecretBundle.ts.html

[2021-02-04 16:57] JauntyJames opened #49 "getZone returns 'only absolute urls are supported'"
I've encountered a problem with the getZone function that I could use some input on. Here's a quick and dirty example from the OCI Cloud Shell:

[code]

I've tried passing an OCID instead of the name with the same result. This payload works fine with the OCI CLI or the Python SDK. Any thoughts?

[2021-02-04 22:03] waruwaruwaru commented on #49
Hi @JauntyJames, I was not able to reproduce this error on the Cloud Shell with the same API. Can you try console logging the error message? If you wrap it with a try / catch block, you might see a more detailed error. client.getZone() is an asynchronous call that needs to be resolved, you can wrap this in an async function and await for the response in order to see the proper response.

[2021-02-05 14:42] JauntyJames commented on #49
Here's my actual code and response:

[code]

And here's the console error:
[code]

In contrast, this function is working just fine in my code:
[code]

[2021-02-05 17:43] waruwaruwaru commented on #49
Are both of these code ran in the Cloud shell environment? Do both code work when you run them locally on your machine?

[2021-02-05 18:15] JauntyJames commented on #49
No, those are from the server where I actually want it to run, but I just tested again from the cloud shell swapping out instance principal auth for config file auth, same result.

[2021-02-06 03:47] nicholasgiles opened #50 "oci-objectstorage putObject with files larger than 128K"
We are uploading files to OCI object storage from file streams (created with fs.createReadStream) using the oci-objectstorage putObject method. This is failing for files larger than 128K with the error message:

request to https://objectstorage.us-phoenix-1.oraclecloud.com/n/xxxxxxxxxxxx/b/xxxxx/o/file.bin failed, reason: socket hang up

According to the official example at https://github.com/orac

[2021-02-06 03:55] jyotisaini commented on #50
Hi @nicholasgiles Thanks for reporting this. We will look into it. For the large files we have an upload manager that handles uploading large files in parts. Can you try uploading files using Upload-manager. https://github.com/oracle/oci-typescript-sdk/blob/master/examples/javascript/uploadmanager.js  ?

[2021-02-06 04:11] nicholasgiles commented on #50
@jyotisaini Thanks - does UploadManager support streams (which we have a use case for)? The example seems only to be using files in the filesystem.

[2021-02-06 04:51] jyotisaini commented on #50
@nicholasgiles Unfortunately upload manager does expect files from the filesystem and internally converts to streams and uploads in parts. How were you using NodeFsBlob ? It also expects file path. You can pass the same path that you were using to create stream (fs.createReadStream(**path**) and upload manager will create stream chunks accordingly and upload it to the ObjectStorage. You can find m

[2021-02-06 05:00] nicholasgiles commented on #50
We have two use cases. For files that already exist in the filesystem, we're using code of the form:

const stats = fs.statSync(fileLocation);
const nodeFsBlob = new os.NodeFSBlob(fileLocation, stats.size);
const objectData = await nodeFsBlob.getData();

as per https://github.com/oracle/oci-typescript-sdk/blob/master/examples/javascript/objectstorage.js

In our other use case where we pass the str

[2021-02-08 17:58] waruwaruwaru commented on #50
I believe the 1.7GB file might be too big for 1 upload in NodeJS. https://stackoverflow.com/questions/8974375/whats-the-maximum-size-of-a-node-js-buffer. It will need to be broken into chunks. I will look into the file streams (created with fs.createReadStream) scenario. Thanks for reporting this. @nicholasgiles

[2021-02-08 21:48] nicholasgiles commented on #50
@waruwaruwaru Thanks for the update. The example (https://github.com/oracle/oci-typescript-sdk/blob/master/examples/javascript/objectstorage.js) says 2GB is the limit. Even if we're not dealing with such large files, the fact we seemingly need to buffer the entire file into memory in order to use putObject is not great for us.

[2021-02-08 22:03] waruwaruwaru commented on #48
Have not heard from customer. Will close this issue. Please re-open this issue if you still have trouble. Thank you.

[2021-02-08 22:03] #48 closed

[2021-02-09 17:43] waruwaruwaru commented on #50
@nicholasgiles Can you try giving specifying the highWaterMark, start and end when you create the stream? i.e:

  const fileLocation = "/Users/rustyshackleford/Documents/Random/testFile";
  const stats = fs.statSync(fileLocation);
  const stream = fs.createReadStream(fileLocation, {
    highWaterMark: stats.size,
    start: 0,
    end: stats.size
  });

And then pass stream to the putObjectBody.

[2021-02-09 21:15] nicholasgiles commented on #50
@waruwaruwaru As per my original comment, we have already tried this (specifying highWaterMark) and it works for smaller files (~130K in size). There are however two problems with this approach:

1. File appears to be loaded into memory, causing out-of-memory issues for larger files. We can accept a chunk of 64K at a time (for example) being loaded into memory during the upload but not the entire

[2021-02-09 22:48] waruwaruwaru commented on #50
Object Storage's Multipart Upload API might help achieve what you want. It can take chunks of data from your stream and upload it. You can upload the chunks in parallel.
https://docs.oracle.com/en-us/iaas/api/#/en/objectstorage/20160918/MultipartUpload/UploadPart

Although currently our Upload Manager example takes in a file from a file path, you may be able to re-use the same code for a stream.
h

[2021-02-10 01:19] nicholasgiles commented on #50
We've previously been using the AWS SDK with OCI OS (in S3 compatibility mode) and this has worked OK for us (using s3.upload), so we'll revert to using this for the time being. We don't want to switch to multipart uploads at this time as for the most part our files are not that big.

@waruwaruwaru @jyotisaini Do you plan to fix putObject (for the two issues in https://github.com/oracle/oci-typesc

[2021-02-10 03:54] jyotisaini commented on #50
Hi @nicholasgiles we do plan to handle the use cases you mentioned in our Upload manager. We will open a task for this and update you once it has been fixed.

[2021-02-11 19:38] JauntyJames commented on #49
Debugging session with @waruwaruwaru showed that because my code didn't use `await` when composing the instance principal auth provider, the base URL for the API wasn't being composed properly. Adding await fixed the problem in my function. Thanks for the help/attention!

[2021-02-11 19:38] #49 closed

[2021-02-11 21:39] mkroutikov opened #52 "objectstorage: headObject() and getObject() do not return opcMeta"
https://github.com/oracle/oci-typescript-sdk/blob/master/lib/objectstorage/lib/client.ts#L2144

^^ this is a wrong way to iterate headers. You also fail to strip `opc-meta-` prefix when assigning to `opcMeta` object.

[2021-02-16 17:41] squarebracket opened #53 "Incorrect types for usageapi"
I was going to submit a PR, but the files say they're automatically generated at the top, so I don't know if this code is actually written by people. I can still submit a PR if you wish.

There are two problems with the types in the usageapi package.

First, [the `tags` property of `UsageSummary`](https://github.com/squarebracket/oci-typescript-sdk/blob/e93cf2c67aa8d7f0f40211beb73ca45753d23f1d/lib

[2021-02-16 20:01] waruwaruwaru commented on #53
@squarebracket thank you for reaching out. For the first problem, the Usage API doc (https://docs.oracle.com/en-us/iaas/api/#/en/usage/20200107/UsageSummary/) "tags" is not required, so our SDK made it as optional. For the second problem, I will have an engineer from Usage team take a look at this.

[2021-02-17 22:42] waruwaruwaru commented on #52
Hi @mkroutikov, Thanks for pointing out the header iteration, I will get that fixed. As for the opc-meta- prefix, the SDK do not strip `opc-meta` when assigning to `opcMeta` object. The SDK sends back what the server gives. Let me know if this answers your question.

[2021-02-17 23:23] squarebracket commented on #53
@waruwaruwaru is `UsageSummary` used somewhere other than the result of the `RequestSummarizedUsages` call? Perhaps it is an error in your API spec since it is returned in every call and/or `required: no` means the returned value may be null?

[2021-02-17 23:39] waruwaruwaru commented on #53
@squarebracket At the moment I only see `UsageSummary` used in `RequestSummarizedUsages`.`required: no`, means it might not always return by the service. That means the returned response object might not always have that field. If the server does not return that field, then the SDK will not have that field in the response object. The SDK does not return response object with a field with `null` or

[2021-02-24 22:07] waruwaruwaru commented on #52
Hi @mkroutikov, I will close this issue as I have not heard back. Feel free to re-open this issue if there any more questions.

[2021-02-24 22:07] #52 closed

[2021-03-17 01:30] jhult opened #59 "isomorphic-fetch - outdated - denial of service"
isomorphic-fetch relies on a vulnerable version of node-fetch. It should be updated. See below for details.

node-fetch  <=2.6.0 || 3.0.0-beta.1 - 3.0.0-beta.8
Denial of Service - https://npmjs.com/advisories/1556

isomorphic-fetch  2.0.0 - 2.2.1
  Depends on vulnerable versions of node-fetch
  node_modules/isomorphic-fetch
    oci-common  *
    Depends on vulnerable versions of isomorphic-fetch

[2021-03-29 08:01] moimstone-Crong opened #61 "Question about authentication provider to use object storage."
Hi,
I'm using oci api library to make my application access object storage. I followed examples and accomplished my mission. But, I had to provide authencation information in file form. Examples use ConfigFileAuthenticationDetailsProvider() to provide authencation information.

But, I want to inject all of these properties in string form(environment variables - kubernetes configmap).
Do you have a

[2021-03-31 17:27] jodoglevy commented on #61
Hi - yes we support doing this. See the https://github.com/oracle/oci-typescript-sdk/blob/master/examples/typescript/simple-authentication.ts example

[2021-04-05 19:13] waruwaruwaru commented on #61
Hi @moimstone-Crong did the example provided by @jodoglevy resolved your issue?

[2021-04-05 20:15] waruwaruwaru commented on #59
@jhult thank you for reporting, I will take a look into this issue.

[2021-04-06 01:58] moimstone-Crong commented on #61
Hi guys, I really appreiciate it. Thank you

[2021-04-06 01:58] #61 closed

[2021-04-07 14:38] jhult commented on #59
@waruwaruwaru, any updates on this?

[2021-04-16 21:20] rafaferry opened #65 "Socket hangup when uploading multiple files."
Hello,

I am developing a application that scans a folder, and uploads any file to oracle-object-storage. The uploads run in parallel, and
very often i Run into this error:

 OciError: request to [...] failed, reason: socket hang up
ora-object-storage-uploader_1  |     at GenericRetrier.<anonymous> (/app/node_modules/oci-common/lib/retrier.js:83:38)
ora-object-storage-uploader_1  |     at Generato

[2021-04-17 19:04] nms2019 opened #66 "OCI-objectstorage is too dependent on fs.createReadStream to transfer objects"
Most App Dynos do not allow storage of even temporary files( even small ones) on their servers.  Most use Amazon S3 as their primary way around this by sending the created file to S3 and then accessing the data, essentially what most of your Use Case requires.   Also because the code is dependent on fs. the function will always add this header:
[ '----------------------------6225457090577057538532

[2021-04-20 18:18] waruwaruwaru commented on #59
Hi @jhult, the next release (May 4th, 2021) will have the upgraded version of isomorphic-fetch (v3.0.0).

[2021-04-20 21:29] waruwaruwaru commented on #65
Hi @rafaferry, thanks for reporting this issue. I have to look into this issue but in the meantime, can you try passing in a partSize of 10MB when creating the upload manager? i.e:
`
const partSize = 10 * 1024 * 1024;  //10MB part size
const uploadManager = new UploadManager(oraClient, { enforceMD5: true, partSize: partSize });
`
By default the upload manager will use a partSize of 20MB but I thin

[2021-04-20 22:43] rafaferry commented on #65
Thank you, I will try this.

As soon as I get it done will update here with the results.

[2021-04-26 22:15] rafaferry commented on #65
Hello,

I tried changing the part size to 10MB, and even 5MB but the problem still occurs.

Here is the log:

[code]

  Retrying the upload eventually makes it work.

[2021-04-27 17:06] waruwaruwaru commented on #65
Thanks @rafaferry, I will look into this.

[2021-04-27 18:38] waruwaruwaru commented on #59
The latest version of the SDK (v1.19.2) now uses isomorphic-fetch v3.0.0. If there is any issues please feel free to reopen this issue. Thank you for reporting this issue. @jhult

[2021-04-27 18:38] #59 closed

[2021-04-30 16:20] rafaferry commented on #65
Hello,

I was looking into my logs, and found another kind of error. Here is the stacktrace:
[code]

Don't know if its is related, but since it's in the same code, im posting here.

At first I thought it was some problem in my code, and that I was trying to upload an inexistent file. But I added this check before upload:

`if (!fs.existsSync(path)) return`

And the error stills occurs. Retrying th

[2021-05-01 00:08] moimstone-Crong opened #69 ""OciError: unknown reason." during headBucket request"
Hello,

I wrote my application creating bucket and creating preauthenciated request with you examples.
And it works alright.
This time, I wanted to check if the bucket already exists. So I added code snippets below.
[code]
and its output is
[code]
I compared my code with the example in https://docs.oracle.com/en-us/iaas/tools/typescript-sdk-examples/1.10.0/objectstorage/HeadBucket.ts.html. But I d

[2021-05-04 18:13] waruwaruwaru commented on #65
Hey @rafaferry thanks for reporting this. I can reproduce the socket hang up error but I cannot reproduce the out of range error. This error you showed me is most likely due to giving a **end** that is greater than the maximum safe integer. Though I am currently not sure how this issue occurs. The **end** parameter is most likely coming from creating a stream because when creating the stream, we s

[2021-05-04 19:08] waruwaruwaru commented on #69
Hi @moimstone-Crong, the sample code you wrote looks fine. I've ran the same code on my end and it works on my end. 404 could mean that it could not find your resource. Can you check if the bucket exists in your namespace?

[2021-05-05 08:31] moimstone-Crong commented on #69
Hello,

What a strange!
I doublecheked I could create the buckets and preauthencatedrequests with the same client(this.client) instance in my code.

I think the error message "Cannot parse data into JSON" is more suspicious. Where is it from? The error message is occurred whitin "await this.client.headBucket(headBucketReq);"

For your fast support I'd like to give you my file.
'''
import {Request,

[2021-05-05 16:58] waruwaruwaru commented on #69
@moimstone-Crong, can you check to see if that bucket indeed exists on your namespace? You can check via console webpage. The console.log for "Cannot parse data into JSON" comes from here: https://github.com/oracle/oci-typescript-sdk/blob/master/lib/common/lib/helper.ts#L46. This code tries to handle your response error by reading in the response body as a text. It then tries to see if it can pars

[2021-05-06 00:14] moimstone-Crong commented on #69
I check if the bucket already exists or not. I sure that there is no bucket named with I tried to check.
By the way, as far as I understood from document, _HeadBucketRequest_ method is to see where the bucket exists or not, right?
If the bucket exists, _HeadBucketRequest_ should return the result of it. Not occurring error like that.

Thanks

[2021-05-06 04:37] nms2019 commented on #66
Any update or ETA? I have a few projects that we would like to use Oracles Object Storage, but all are hosting platforms have ephemeral filesystems making the reliance on fs.createReadStream useless for creating streams.

[2021-05-06 07:24] waruwaruwaru commented on #69
For HeadBucketRequest, if the bucket does not exist then it will send a 404. If you got a statusCode: 404 and you know that bucket does not exist then the error you got is the correct behavior. At the moment the SDK does not handle head request error very well. We will work on sending back a better error for head request errors.

[2021-05-06 07:40] moimstone-Crong commented on #69
Oh I see.

Could you let me know when the SDK is ready?

[2021-05-06 19:23] waruwaruwaru commented on #66
Hi Brian,
Can you try passing in a Blob in the request? Currently our putObject body do allow Blob (https://github.com/oracle/oci-typescript-sdk/blob/master/lib/objectstorage/lib/request/put-object-request.ts#L45). But our SDK currently do not have the ability to calculate the content-length of a Blob so you would need to calculate the content-length of the Blob. Let me know if that works or if yo

[2021-05-06 19:46] waruwaruwaru commented on #69
Hey @moimstone-Crong, we will work on providing a better error message for head request errors. But as for the result you got back (statusCode: 404), that should be the expected response. Does that help unblock your problem?

[2021-05-06 22:27] moimstone-Crong commented on #69
Hi @waruwaruwaru, I guess I cannot resolve this exception by myself. I don't know how to retrieve status 404 code from that exception. I'm not a super hero in typescript. If you provide code snippets how to retrieve staus code 404 from that exception, I can hang on until you guys fix it. Can you help me?

[2021-05-07 04:44] waruwaruwaru commented on #69
Hi @moimstone-Crong, on your createNewBucket function's catch block, you can return e.statusCode to return back the status code.
`
catch (e) {
    console.error(e)
    return e.statusCode;
}
`

[2021-05-07 15:04] moimstone-Crong commented on #69
Hi @waruwaruwaru .
It's clear now.
Thank you

[2021-05-07 15:04] #69 closed

[2021-05-11 06:00] nms2019 commented on #66
So in my bucket I get the following when I try to pass it as a blob see below, the pdf does not transfer, the file on April 9th works as a fs.createReadStream:

![Screenshot 2021-05-10 225123](https://user-images.githubusercontent.com/46869289/117765351-a7bf7600-b1e2-11eb-9834-ca975f385ea6.png)

code is as follows:

[code]

Would love for this too work as a blob but not sure what I'm missing(also

[2021-05-13 02:18] nms2019 commented on #66
The blob size is 17,540.  Yes its a blob at least I think so, VSC recognizes it as a Blob. But to be sure here is the code that takes the PDF document and converts to a blob:

[code]

Tried first by changing the contentType to application/json, then putObjectBody: blob.stream(), then changed contentType: application/pdf, with the blob.stream() as the putObjectBody, still no joy.

[2021-05-13 16:46] waruwaruwaru commented on #66
@nms2019, what library are you using to create a Blob? I think some NPM packages have their own way of defining a blob so its not quite the same as the one from (https://developer.mozilla.org/en-US/docs/Web/API/Blob). What does blob.stream() return back? It should return back a ReadableStream (https://developer.mozilla.org/en-US/docs/Web/API/Blob/stream)

[2021-05-14 13:07] rafaferry commented on #65
Hey @waruwaruwaru, I think I now how to reproduce the [ERR_OUT_OF_RANGE].

This is happening to files without content. I know, I can check if the file has any content written before triggering the upload, but there may be some cases where I do want the file to be uploaded, even if it is empty.

I've tryed to attach an example of file here but github doesn't allow upload of empty files.

[2021-05-17 16:42] waruwaruwaru commented on #65
@rafaferry I currently have a PR out internally for review. Once that gets released to public, I will notify you. It should fix the problems. Thank you for reporting these issues :)

[2021-05-19 00:41] nms2019 commented on #66
Can you provide the code to transform a blob to a buffer?

[2021-05-19 22:06] waruwaruwaru commented on #66
You will first need to get the stream from the blob by doing const readableStream = blob.stream(). This will return a ReadableStream.

`
// Get the ReadableStream
const readableStream = blob.stream()
// Create a Reader
const reader = data.getReader();
const chunks = [];
while (true) {
  //While not done, keep reading chunks off the reader
  const { done, value } = await reader.read();
  if (done)

[2021-05-21 22:29] nms2019 commented on #66
I'll wait to use the upload manager. :-) Let me know when it comes out.

[2021-05-25 18:08] waruwaruwaru commented on #66
@nms2019 the upload manager should now be able to support Blob type of streams, here is an example of our upload manager code:
https://github.com/oracle/oci-typescript-sdk/blob/master/examples/typescript/uploadmanager.ts
A minor tweak you can do since you are using a blob stream, instead of using filePath (like in the example), you can pass in your stream object directly like so:
[code]

[2021-05-28 18:30] nms2019 commented on #66
This worked, but I had to use blob.stream() instead of just blob,

![image](https://user-images.githubusercontent.com/46869289/120027367-20c31980-bfa8-11eb-99cc-b274ecff9397.png)

[2021-05-28 18:42] waruwaruwaru commented on #66
What error do you get if you pass in the blob instead of blob.stream()?

[2021-05-28 18:45] nms2019 commented on #66
There was no error it just was the file with the 0 kbs.

[2021-05-28 18:47] nms2019 commented on #66
Let me see if I can't play around with also I added in the code:

`console.log(blob instanceof Blob)`
which always came back as true.

[2021-05-28 19:01] waruwaruwaru commented on #66
Does `console.log(blobl.stream() instanceof ReadableStream)` return true?

[2021-05-28 19:04] nms2019 commented on #66
I've got some other deadlines due today, so I'm going to work on this again on Monday... but I will try all three and verify.  However happy it works, and just tried it on heroku servers and it works.   Thank you.

[2021-05-28 19:08] waruwaruwaru commented on #66
No problem. Sometimes users have blob objects that are not exactly the same as the one from https://developer.mozilla.org/en-US/docs/Web/API/Blob. I know some NPM package library implements a blob object differently and its hard to know exactly how each library implement their blob object.

[2021-06-01 18:22] waruwaruwaru commented on #65
@rafaferry, can you try the latest version of the SDK (v1.20.1) and see if you still get into this issue? Thank you.

[2021-06-01 18:36] waruwaruwaru commented on #50
Hi @nicholasgiles, our latest SDK (v1.20.1) should now be able to handle large files with putObject (keep in mind the 2GB limitation on a 64bit machine from NodeJS) without knowing the size beforehand. You can call putObject without specifying the content-length and the SDK should now be able to calculate it on its own. Let me know if this works or if there is any issues that you run into. Additio

[2021-06-03 06:56] nicholasgiles commented on #50
@waruwaruwaru Thanks for this - I've given it a quick test and it does appear to be working. Will let you know if we find any issues when moving this into production.

[2021-06-05 00:59] nicholasgiles commented on #50
@waruwaruwaru Further testing has found that if we set a value for "contentLength" then this causes a regression in the behavior of "putObject" and the "socket hang up" error returns for >128K files.

As a workaround, simply excluding "contentLength" from the parameter passed to "putObject" is OK for us, but this seems like a bug to me.

[2021-06-05 02:53] waruwaruwaru commented on #50
@nicholasgiles Hi Nick, when the contentLength is set by the user, the SDK will not buffer the stream into memory, instead the user's stream will be used. What happens is sometimes the users pass in a stream that cannot be read properly by the service because it is not configured correctly. For example, if you created a stream via fs.createReadStream() but you did not pass in the proper highWaterM

[2021-06-05 05:42] nicholasgiles commented on #50
@waruwaruwaru If the files are being loaded into memory then I don't think this works for us (as I previously mentioned in https://github.com/oracle/oci-typescript-sdk/issues/50#issuecomment-776249101). We cannot afford to load potentially very large files into memory in order to be able to upload them to Object Storage. I tried it with a 1.5G file and I got an "Invalid array length" exception - n

[2021-06-05 06:18] waruwaruwaru commented on #50
@nicholasgiles for AWS SDK S3.upload(), it also buffer streams into memory but they do it in chunks so you do not read it all at once. We also have the same concept in our Upload Manager where the SDK will buffer them in chunks, can you try using that and see that can fix large files?

[2021-06-07 19:48] waruwaruwaru commented on #66
Hey @nms2019, I have not heard back from this ticket in a while. It looks like you have a working solution, if you would like to debug this further, please feel free to reopen this issue. Thank you.

[2021-06-07 19:48] #66 closed

[2021-06-08 18:11] waruwaruwaru commented on #65
@rafaferry I will be closing this issue but please feel free to reopen this if you run into the issues again with the latest SDK. Thank you for reporting this.

[2021-06-09 14:49] rafaferry commented on #65
Hey @waruwaruwaru,

I'm sorry for the delay.
I've just tested with the sdk 1.20.2, and it still has some problem, but it may be network / infrastructure related.

Some of my uploads are failing with this error:
[code]
I dont know if this is relevant, but this code runs on oracle kubernetes engine, cloud region sa-saopaulo-1.

[2021-06-09 17:24] waruwaruwaru commented on #65
Hey @rafaferry, thank you for getting back. I was wondering if there is any change in the environment recently. This error: `Client network socket disconnected before secure TLS connection was established` suggests proxy error from my research. Did you get this error in the past? I know you were getting a socket hangup before but this error looks new. But if its a proxy error, I am not sure why so

[2021-06-14 23:34] waruwaruwaru commented on #65
Hi @rafaferry, is there an update on this? Any information you can provide me from my previous post? Thanks.

[2021-06-15 15:41] rafaferry commented on #65
Hey @waruwaruwaru I'm sorry to keep you waiting.

I dont think it's a proxy error. Nothing in my environment has changed except the OCI sdk version.

The problem seem's the same with the socket hangup. Random files, at random times, and retrying the upload works.

To me it looks like oracle kubernetes engine (or something specifc to my environment) has some sporadic network failure, that is causin

[2021-06-15 17:11] waruwaruwaru commented on #65
Hey @rafaferry thanks for getting back. The SDK does internally do retry on network error as well. The OciError that the SDK returned was the error that we received when making the HTTP call. Does this issue happen in your local environment? If you ran the same code locally while trying to upload the same files, does this issue still occur?

[2021-06-15 18:03] rafaferry commented on #65
I've just ran this code locally for arround 30 min, uploading the files in a loop. The problem did not occur.

Must be something with my env.

I think you can close this issue.

Thank you.

[2021-06-18 19:42] waruwaruwaru commented on #50
Hey @nicholasgiles, did you get a chance to try Upload Manager? Let me know if that can help resolve the issue. Thanks!

[2021-06-19 13:41] bd100b opened #77 "Idea: Add Cloudflare workers support"
Hi! First of all thanks for such a great sdk. It's very easy to set up a project from scratch with it, but I have an idea for authors, It would be great to have the sdk working on cloudflare workers or at least some of the libraries like nosql, database or objectstorage similarly like it was done with aws sdk. What do you think?

[2021-06-22 18:43] waruwaruwaru commented on #65
Thanks for getting back @rafaferry. The latest SDK (v1.21.1) will now show logs before doing a retry. If you are not able to see the retries being done at the SDK level, feel free to reach out and let me know.

[2021-06-25 19:16] waruwaruwaru commented on #65
I will be closing this issue. If there are any issues you suspect from the SDK or if you are not able to see any logs on the retry done by the SDK, please feel free to re-open this issue again. Thanks again for reporting this issue @rafaferry.

[2021-06-25 19:16] #65 closed

[2021-06-25 19:18] waruwaruwaru commented on #50
Hi @nicholasgiles, just wanted to check in again if you were able to resolve this issue using Upload Manager?

[2021-06-30 20:50] waruwaruwaru commented on #50
@nicholasgiles I will be closing this issue, if you have the time to try upload manager and run into any issues, please feel free to re-open the issue and I'll be happy to help. Thanks again for reporting this issue.

[2021-06-30 20:50] #50 closed

[2021-07-01 06:12] davidkhala commented on #24
I cannot find clear documentation on how to use oci-ts-sdk to interact with OCI Vault. Should it be `oci-vault` or `oci-keymanagement`?

I also find out a lot of APIs have overhead notice
`NOTE: This class is auto generated by OracleSDKGenerator.`
So how and where should I contribute my code suggestion to these ts files?

[2021-07-01 06:15] davidkhala commented on #53
By the way, I also bear same question that since `the files say they're automatically generated at the top, so I don't know if this code is actually written by people`, how could we contributre a PR to it?

[2021-07-01 17:07] waruwaruwaru commented on #53
Hey @davidkhala,
These files are based on what the service API spec are defined so the SDK cannot change it unless the Usageapi service team changes their spec. But the latest SDK shows OP's 2nd question was addressed: groupByTag is a field in the RequestSummarizedUsagesDetails interface.

As for the first question about why tag is optional, that is also something that is defined by the Usageapi s

[2021-07-01 18:35] jodoglevy commented on #24
Hi @davidkhala for your first question - can you open a separate issue for that, and we can route that to the vault/kms teams?

For your second question, it is correct that any auto-generated file cannot be updated through a pull request. You can either file a github issue for the thing you'd like to be updated, or file a pull request with your suggested change, which we can use as a more precise

[2021-07-02 02:29] davidkhala opened #80 "[Document]difference and usage for vault/kms documents"
I cannot find clear documentation on how to use oci-ts-sdk to interact with OCI Vault. Should it be oci-vault or oci-keymanagement?

[2021-07-02 02:34] davidkhala commented on #24
I am afraid that the second is also a root cause of my Q1. Is the README.md of each sub-module also artifact of the code gen?

And I wonder why it is designed to use code gen. I guess it can save time and effort for maintainer, but could be a nightmare for contributor.

[2021-07-06 22:14] jodoglevy commented on #24
Yes, the README.md of each sub-module is also produced by the code gen.

Our goal is that OCI will be able to add/maintain everything customers need out of OCI SDKs, rather than requiring customers to own any required features / changes via contributions. Some files in the SDK are manually written, in which case a public contribution for those can be directly merged. For public contributions made

[2021-07-20 18:22] y-chandra opened #85 "Default Retries and Default Circuit breakers in the SDK versions 2.0.0+"
### Retries by default

Starting with version 2.0.0, the SDK for Typescript and Javascript will support default retries. This means that if you are using the SDK to call service API operations, and the operations fail with a retry-able error, then the SDK by default will retry the operation according to the default retry policy.

If you are using the OCI SDKs and have custom logic for retrying on

[2021-07-22 21:05] y-chandra commented on #85
The above note is now documented at https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/typescriptsdkconcepts.htm

[2021-07-22 21:05] #85 closed

[2021-07-29 16:59] jodoglevy commented on #80
Hi @davidkhala  - it depends on what action you are trying to accomplish. What are you trying to use the SDK to do, against OCI Vault?

[2021-08-10 02:10] ramjiiyengar opened #88 "invokeFunctionHelper function is accepting request payload but not passing it in the request object"
The correct code should pass the payload in the request object. Add the bolded line.

const request = {
    functionId: functionId,
    **invokeFunctionBody:   JSON.stringify(payload)**
}

[2021-08-11 18:01] jodoglevy commented on #88
Thanks for reporting this @ramjiiyengar - we'll take a look and get back

[2021-08-12 23:19] nicholasgiles opened #90 "oci-objectstorage Upload Manager doesn't work with large files"
Follow up from issue: https://github.com/oracle/oci-typescript-sdk/issues/50

This library is still not useable for us for uploading files to object storage, as it appears that the entire file is being loaded into memory, which causes problems for large files. For example, a 1.5G file causes the Node process to be killed with an out of memory error.

Here is my test code:
[code]

This results in h

[2021-08-16 16:50] jodoglevy commented on #90
@nicholasgiles thanks for reporting - we'll take a look

[2021-08-19 22:07] y-chandra commented on #88
@ramjiiyengar  - In this particular example, `payload` will always be a string since it's accessed from the environment variable. Hence, it doesn't help to add the above line in the code. Since, [invokeFunctionBody](https://github.com/oracle/oci-typescript-sdk/blob/9dd8eddf532b8f035ab50a6f6235a6ec5da4ec1d/lib/functions/lib/request/invoke-function-request.ts#L32)
only accepts `Uint8Array | Buffer |

[2021-08-20 00:05] y-chandra commented on #90
@nicholasgiles - Which version of the SDK are you using? Can you please use the latest version of the SDK - `version 2.2.0` and try the API again?

[2021-08-20 01:53] nicholasgiles commented on #90
@y-chandra Similar behavior with v2.2.0; results:

[code]

Seen using "top" command:
[code]
showing that the memory usage is huge, presumably because it's attempting to load the entire file into memory.

[2021-08-29 01:16] jodoglevy commented on #24
@davidkhala can you open a github issue for the specific issue you need help with around WaaS? That way we can route it to the WaaS team to take a look

[2021-08-29 01:21] jodoglevy commented on #80
@davidkhala for signing, please see https://docs.oracle.com/en-us/iaas/api/#/en/key/release/SignedData/Sign. For verifying, please see https://docs.oracle.com/en-us/iaas/api/#/en/key/release/VerifiedData/Verify.

On either page, if you scroll down to the `Examples` section, and then click on `TypeScript SDK`, you should be able to see an example on how to use these operations.

[2021-09-01 21:19] y-chandra commented on #88
@ramjiiyengar  - Since the example works in the way it's intended to be used, we're going to close this issue. Feel free to reopen it if you face any issues.

[2021-09-01 21:19] #88 closed

[2021-09-02 20:53] y-chandra commented on #90
We're still looking into fixing the issue, as a workaround, can you please use the version `1.19.5` and try uploading the file?

[2021-09-02 21:55] nicholasgiles commented on #90
@y-chandra Why is the behavior in version `1.19.5` likely to be different from the three other versions I've previously tested?

As far as I can see, there is a design flaw in the library that causes it to buffer the entire contents of a stream into memory before uploading it to object storage so, until this is addressed, I can't see the benefit of testing any further different versions.

[2021-09-02 22:06] jodoglevy commented on #90
Hi @nicholasgiles - to provide a bit more context - we think the issue you're hitting was introduced in the version after 1.19.5. When @y-chandra tests v1.19.5, he is able to get a large upload to work, but with later versions, this seems to not work anymore.

We are working on fixing the issue for new versions of the SDK going forward -- @y-chandra 's comment was just meant to provide a workaroun

[2021-09-02 23:46] nicholasgiles commented on #90
@jodoglevy Thanks for the update.

From my experience (starting with https://github.com/oracle/oci-typescript-sdk/issues/50), this has never worked properly - specifically, there has never been a way to upload large files to OCI OS without those files having to be loaded entirely into memory first.

We have been using the AWS SDK with OCI OS S3 compatibility and, as such, are not blocked but we do

[2021-09-03 00:12] y-chandra commented on #90
@nicholasgiles  - I tested uploading a large file using UploadManager with version `1.19.5` and the memory usage is significantly less in this version. It seems after this version, we implemented some new features like supporting stream bodies for UploadManager that eventually caused the increase in memory usage. However this would only work if you're using a file to upload.

[2021-09-03 06:16] nicholasgiles commented on #90
@y-chandra @jodoglevy I just ran a test with version `1.19.5` and uploading a 1.5GB file, and I concur that it does work a lot better - memory usage never got above ~7%, which is a vast improvement on the ~49% I was seeing with the newer versions of the library.

So I'd say if you can revert the behavior to be similar to that of version `1.19.5` in the next version of the library then we would mos

[2021-09-03 20:28] jodoglevy commented on #90
@nicholasgiles thanks for validating that what we are seeing works for you as well. We'll work on fixing this in the latest versions of the SDK, however it won't be as simple as reverting to the way this was done in 1.19.5, as we need to also not drop stream support, which was added in the version after 1.19.5

[2021-09-04 06:33] nicholasgiles commented on #90
@jodoglevy I don't know if the stream support was added in response to https://github.com/oracle/oci-typescript-sdk/issues/50 which I raised (a comment in that ticket indicates the fix was delivered with version `1.20.1`) but from my perspective it didn't work in any case (due to high memory usage), hence why I eventually switched to trying to use the Upload Manager instead.

[2021-09-20 15:51] kdclaw3 commented on #90
@jodoglevy @y-chandra What is the appropriate channel for getting resolution to this? Should we submit an official Support Request.

[2021-09-20 18:02] kdclaw3 opened #96 "oci-objectstorage Upload Manager doesn't work with empty files"
When trying to use upload manager to upload an empty file we receive the error:

node 12.16.1
oci-sdk versions **1.19.5 & 2.3.1**

Failed due to RangeError [ERR_OUT_OF_RANGE]: The value of "end" is out of range. It must be >= 0 and <= 2 ** 53 - 1. Received -1

[2021-09-22 17:22] jodoglevy commented on #96
Thanks @kdclaw3  for reporting - we'll take a look

[2021-09-24 20:56] waruwaruwaru commented on #96
Hi @kdclaw3, I was able to upload a 0 byte empty file on my end with the latest SDK (v2.3.1). The steps I took was **touch myZeroByteExampleFile**. This created an empty file of 0 byte. I was able to upload this file successfully. Can you double check if this issue occurs on v2.3.1? If it does occur in v.2.3.1 can you give a stackTrace of the error or the your code? Thanks!

[2021-09-26 15:54] kdclaw3 commented on #96
@waruwaruwaru, Sorry, I retested, this is only happening on v1.19.5. It is working on 2.3.1. You can close the issue. We are stuck on 1.19.5 until issue #90 is fixed.

[2021-09-27 17:11] jodoglevy commented on #96
@kdclaw3  thanks

[2021-09-27 17:11] #96 closed

[2021-09-29 11:04] Manuelandro opened #98 "Failed to parse (unnamed) on Private Key"
Hello, we just moved our stack to Oracle Cloud and I'm setting up the deployment to object-storage.
When I pass the configuration i get this error, I don't know if it is a bug or I'm doing something stupid.

Note that I tried both with Oracle generated pem and with local generated rsa

[code]

[code]

[2021-09-29 17:50] jodoglevy commented on #98
Hi @Manuelandro. A few questions:
- When you say "Oracle generated pem" - do you mean a keypair downloaded from the OCI Console experience in the web browser?
- I see your pem file name starts with a dash "-". Does it happen to work if you remove the dash from the file name?
- I see "Angular" mentioned in the stack trace -- are you using the SDK in NodeJS, or in a web browser context?

[2021-09-29 18:06] Manuelandro commented on #98
hi @jodoglevy:

• yes, I meant the keypair from the OCI console
• yes, i tried also with a simple name like "oci_private_key.pem"
• angular is the frontend source but I'm using the module in a node enviroment as an "afterbuild script"

[2021-09-29 19:47] weironglin1988 opened #99 "issue with meta data response"
There is an issue on response opcMeta in clients.js file. Please fix it if possible thanks.

     line 1988                  Object.assign(opcMeta, { k: v });  it should be  Object.assign(opcMeta, { [k]: v });

[2021-09-29 20:59] y-chandra commented on #90
@kdclaw3 - Can you confirm if you're using UploadManager to upload files and if fixing this for files will resolve your issue?

[2021-09-29 21:04] kdclaw3 commented on #90
@y-chandra Yes we are using upload manager, and have no workaround currently. 1.19.5 wont upload empty files and 2.3.1 wont upload large files.

[2021-09-29 21:04] jodoglevy commented on #90
@kdclaw3 what we'd like to better understand is if this is only blocking you for files, or if you also need to upload non-file streams

[2021-09-29 21:20] kdclaw3 commented on #90
@jodoglevy we are only using it for files.

[2021-09-29 21:21] jodoglevy commented on #90
great. @y-chandra  is working on a fix for that use case

[2021-09-29 22:59] waruwaruwaru commented on #98
Hi @Manuelandro, since you are using SimpleAuthenticationDetailsProvider, we do not take in private key as the file path. You would need to pass in the actual full string. The SDK would help you read the file path if you used ConfigFileAuthenticationDetailsProvider.

[2021-09-29 23:12] waruwaruwaru commented on #99
Hi weironglin1988, can you share us the error you are getting with the current code?

[2021-09-30 11:02] Manuelandro commented on #98
thanks it did help

[2021-09-30 11:02] #98 closed

[2021-09-30 11:07] Manuelandro opened #100 "Upload Manager error on multiple files"
During the deployment I have to upload a folder with 1000+ files

[code]

in console I have this output for almost every file
[code]

I've tried with the await uploadManager()... as in the example files, it works but for my use case it takes hours to upload the entire folder

[2021-09-30 12:57] weironglin1988 commented on #99
Hi @waruwaruwaru ,

Below are the metadata I posted with the file and the result I get back. It's not return all the metadata, it only returns {k:'test'} which is not correct. After I modified line 1988 and 1457 to Object.assign(opcMeta, { [k]: v });, both the headObject and getObject return all the metadata.

  let metaData = {
      "owner": "test",
      "file-desc": "Test meta data from javasc

[2021-10-01 17:16] waruwaruwaru commented on #100
Hi @Manuelandro, this is a known issue at the moment and we are working on releasing a fix for file based streams that should improve the performance. What version of the SDK are you using?

[2021-10-01 18:24] waruwaruwaru commented on #99
Hi @weironglin1988, our team will resolve this issue and release a fix for this. I will keep you updated. Thank you for reporting this error and providing a solution.

[2021-10-02 16:42] Manuelandro commented on #100
Thanks for the replay. I'm currently using    oci-common@^2.4.0 and oci-objectstorage@^2.4.0

[2021-10-05 19:42] waruwaruwaru commented on #100
Hi @Manuelandro the latest SDK should help with your performance. And I think that the upload should have an await or else your node task will try to upload all 1000+ files at once which might cause a lot of memory usage and fail.

[2021-10-06 16:11] kdclaw3 commented on #90
@waruwaruwaru it is not working for us. Now we are getting a new error.

1. We have completely emptied the bucket, we have removed all uncommitted multipart uploads.
2. We get this error
`Request cannot be retried. Not Retrying. Exception occurred : Error: The computed MD5 hash (acBf4HGRKHDC1NO/O3QuZQ==) does not match the expected MD5 hash (4r81kp2g5acDaMwPI7WdXA==)
Upload part failed, will retry

[2021-10-06 16:13] kdclaw3 opened #102 "SDK 2.5 Multipart Upload Computed Hash Error on Large Files"
Using SDK2.5.0 we are getting the following error on large files:

`Request cannot be retried. Not Retrying. Exception occurred : Error: The computed MD5 hash (acBf4HGRKHDC1NO/O3QuZQ==) does not match the expected MD5 hash (4r81kp2g5acDaMwPI7WdXA==)
Upload part failed, will retry. Last known error: Error: The computed MD5 hash (acBf4HGRKHDC1NO/O3QuZQ==) does not match the expected MD5 hash (4r81kp

[2021-10-06 16:40] kdclaw3 commented on #102
@y-chandra This is a 1.16GB file. It is happening on all large files.

[2021-10-06 16:42] y-chandra commented on #102
@kdclaw3 Okay and what're the uploadOptions being used? Is it the default options or are you providing any uploadOptions?

[2021-10-13 17:12] weironglin1988 commented on #99
Thank you, Issue has resolved.

[2021-10-19 20:15] #100 closed

[2021-11-10 03:33] wilsonzlin opened #108 "oci-objectstorage TypeScript type definition error: Interface 'UploadableBlob' incorrectly extends interface 'Blob'"
I'm getting this error when compiling a TypeScript application that uses oci-objectstorage:

[code]

Versions:
- oci-common: ^2.6.1
- oci-objectstorage: ^2.6.1
- typescript: ^4.4.4

[2021-11-20 01:05] jmpolvera opened #110 "No matching version found for oci-datalabelingservice@2.8.0"
Environment:
Windows 10 Pro -> WSL Ubuntu 20
node version: v10.19.0
npm version: 6.14.4

Doing `npm install oci-sdk`  causes npm dependency error:

Error:
npm ERR! code ETARGET
npm ERR! notarget No matching version found for oci-datalabelingservice@2.8.0.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR!

[2021-11-24 18:55] jodoglevy commented on #110
Thanks for reporting - we'll take a look

[2021-11-24 21:29] waruwaruwaru commented on #110
Hi @jmpolvera the package is now published in npm. Can you give the installation another try? Please feel free to reopen this ticket if you are still hitting the issue.

[2021-11-24 21:29] #110 closed

[2021-11-29 22:55] waruwaruwaru commented on #108
Hi @wilsonzlin, what version of Node are you using? At the moment we only support version 14.X https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/typescriptsdk.htm#Versions_Supported

[2021-11-30 06:18] wilsonzlin commented on #108
Thanks for letting me know, I'm using 16.x currently. Will there be support for newer Node.js versions in the near future? It does appear to only be a TypeScript type definitions issue.

[2021-12-01 22:08] waruwaruwaru commented on #108
Hey @wilsonzlin, we do have Node version 16 support in our backlog. We don't have an ETA for this yet but it is something that we are looking to support.

[2021-12-03 16:23] jodoglevy commented on #80
@davidkhala  I'm going to close this since we haven't heard from you in quite a while, and I think I provided solution to your question above. But please feel free to reopen this if your issue is not resolved.

[2021-12-03 16:23] #80 closed

[2021-12-03 16:23] jodoglevy commented on #53
@davidkhala  I've going to close this issue based on the response provided by @waruwaruwaru  and that we haven't heard back from you in quite a while. If you are still hitting this problem however, please feel free to reopen this

[2021-12-03 16:23] #53 closed

[2021-12-04 04:44] wilsonzlin commented on #108
OK thanks, appreciate the details 👍

[2021-12-04 04:44] #108 closed

[2021-12-20 04:28] davidkhala opened #115 "Unable to use version 2.10.0 of the SDK"
Scenario
In Dec 20, 2021, I try to bump my npm dependency to latest
[code]
I see error like

[code]

[2021-12-21 17:14] jodoglevy commented on #115
Thanks for reporting, we'll take a look

[2021-12-23 19:08] y-chandra commented on #115
There was an issue while publishing the latest version of the SDK and one of the packages is missing in the latest version (`2.10.0`). Please use `2.9.1` version of the SDK.

[2021-12-23 20:27] y-chandra commented on #115
@davidkhala - Can you please try again with the latest version? We've fixed this issue and published version `2.10.0` of the package `oci-appmgmtcontrol`

[2021-12-24 05:35] davidkhala commented on #115
@y-chandra Resolved.

[2021-12-24 05:35] #115 closed

[2022-01-18 09:23] smetal1 commented on #24
I am trying to use this SDK for terraform resource manager stack creation , but there is no clear documentation or steps for it.

[2022-01-20 11:15] greg-md opened #118 "oci-sdk conflicts with @here/olp-sdk-authentication"
I am not sure in which package the issue is, but when `@here/olp-sdk-authentication` is imported before oci package, all requests to Oracle Cloud return 404 Not Found error.

[code]

Example:

[code]

Node version: `v10.24.1`
npm version: `6.14.12`

The issue is not happening if `@here/olp-sdk-authentication` is imported after the oci sdk.

cc @OleksiiZubko, to investigate, maybe the problem is on

[2022-01-24 20:41] jodoglevy commented on #24
Hi @smetal1 - i think it would be best for you to create a separate github issue for that, instead of us doing a back and forth on this github issue, which is not meant for discussing any particular issue.

Also, when you create the issue, please provide more info on the missing information which you'd like to get, so we may better assist

[2022-01-31 19:54] y-chandra commented on #118
@greg-md - Importing `@here/olp-sdk-authentication` does indeed lead to the above issue. We are looking into it and will keep you updated when we have a fix.

[2022-01-31 21:11] y-chandra commented on #118
It seems like this occurs due to presence of conflicting http request libraries. OCI SDK uses `isomorphic-fetch` while `@here/olp-sdk-authentication` uses `@here/olp-sdk-fetch` while using the same namespace.

[2022-02-07 22:21] y-chandra commented on #118
Currently, there is incompatibility between `@here/olp-sdk-authentication` and `@here/olp-sdk-fetch` because of the way the OCI SDK http library `isomorphic-fetch` uses/modifies the global `fetch`. Please use the workaround of changing the order of imports. We'll be closing this issue for now.

[2022-03-29 03:56] joeOracle opened #128 "Defer from using console related functions(eg: log, warn or error)"
If I may suggest, drop the use of console related logs and add [no-console](https://eslint.org/docs/rules/no-console) eslint rule to the project. Use the logger that you already have. Make use of debug logging concept not the intrusive way.

One justifiable reason for this is, our implementors usually don't care the details we have in those console.logs/error/warn. If ever they care about it, they

[2022-04-01 23:32] jodoglevy commented on #128
@joeOracle thanks for reporting - we'll investigate

[2022-05-24 13:11] avadoot-narvekar24 opened #137 "Issue While Using the SDK-"
Hi, I tried running one example under typescript(identity.js) . while running i am getting below error.

    at GenericRetrier.<anonymous> (c:\Codebase\oci-typescript-sdk-master\oci-typescript-sdk-master\lib\common\lib\retrier.ts:182:26)
    at Generator.throw (<anonymous>)
    at rejected (c:\Codebase\oci-typescript-sdk-master\oci-typescript-sdk-master\lib\common\lib\retrier.ts:10:65)
    at proc

[2022-05-27 11:21] shanurrahman opened #139 "Found line with no key-value pair: -----BEGIN RSA PRIVATE KEY-----"
[code]

I am getting the following error

[code]

<img width="649" alt="image" src="https://user-images.githubusercontent.com/17947802/170690185-dbe9ec5d-8608-4462-9b2a-3c3283cc8d8a.png">

[2022-06-07 00:04] jodoglevy commented on #137
Hi @avadoot-narvekar24 - EAI_AGAIN indicates a DNS lookup timed out - this is a network connectivity error or proxy related error, rather than an issue with the SDK code itself.

Some things to try to get more info:
- If you make an HTTPS request to identity.us-ashburn-1.oci.oraclecloud.com from another client (ex: curl) on the same box where this error occurred, does the request go through or als

[2022-06-07 00:09] jodoglevy commented on #139
@shanurrahman  I'm pretty sure this error is due to a problem with this line:
`authenticationDetailsProvider = new common.ConfigFileAuthenticationDetailsProvider('~/.oci/oci_api_key.pem');`

The ConfigFileAuthenticationDetailsProvider constructor should take the path to an OCI config file, not a private key file.

Can you try this instead?

`authenticationDetailsProvider = new common.ConfigFileAut

[2022-06-15 19:58] jodoglevy commented on #139
Closing this since the solution is provided above and we haven't heard from you in 9 days, but feel free to reopen this if you are still facing issues

[2022-06-15 19:58] #139 closed

[2022-06-15 19:59] jodoglevy commented on #137
@avadoot-narvekar24 ping - did you still need help here? If we don't hear from you soon, we'll be closing this

[2022-06-16 04:02] avadoot-narvekar24 commented on #137
@jodoglevy , Hi, Thanks for your suggestions .  Yes it was  proxy issue , we were able to get it working. you can mark it as closed.

[2022-06-16 16:26] #137 closed

[2022-07-07 08:26] davidkhala opened #146 "[feat] kms.getKey return the SigningAlgorithm used in key creation"
Currently, the returned info from kms.getKey come in following format
[code]
While we can guess and map it back to enum SigningAlgorithm, can we let it return exactly same with the SigningAlgorithm string?

[code]

[2022-07-07 08:46] davidkhala commented on #146
close, I make a mistatke here.

[2022-07-07 08:46] #146 closed

[2022-08-17 19:09] gregmsanderson opened #154 "Add an example for your new AI Speech service"
Hello,

From https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/typescriptsdkexamples.htm

So here I am :) I see your OCI AI Speech went GA back in March 2022 so it would be nice if there was an example of how to call it using the SDK (JavaScript).

[2022-08-18 16:43] DeepzUa opened #155 "Error get ReadableStream from ObjectStorageClient on nodejs 18.7.0"
Hi on nodejs 18.7.0 bug from get ReadableStream from ObjectStorageClient.

I use the getObject function and get this message:

(node:12872) ExperimentalWarning: The Fetch API is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)

And I got this response
`ReadableStream { locked: false, state: 'readable', supportsBY

[2022-08-22 23:29] KartikShrikantHegde commented on #154
Hi @gregmsanderson ,

Thanks for reporting the issue.

We do have examples for APIs of the AI Speech service. Here is an example of how to create a transcription job. More examples are on the same tree page for different APIs.

https://docs.oracle.com/en-us/iaas/api/#/en/speech/20220101/TranscriptionJob/CreateTranscriptionJob

Thanks.

[2022-08-22 23:36] gregmsanderson commented on #154
Ah, ok. Thanks.

[2022-08-22 23:37] #154 closed

[2022-09-15 16:16] mariusrak opened #160 "XMLHttpRequest is not defined"
I'm trying to upload a file according to [an example](https://github.com/oracle/oci-typescript-sdk/blob/master/examples/javascript/objectstorage.js#L73). But the `oci-common` uses the browser implementation of fetch pollyfil instead of node implementation and hence I get the error
[code]

[2022-09-15 16:23] mariusrak commented on #160
Sorry, my problem - conflict in packages

[2022-09-19 20:40] KartikShrikantHegde commented on #155
Closing this ticket as NodeJS 16.x version would help solve this issue.

[2022-09-19 20:40] #155 closed

[2022-10-01 15:33] davidkhala opened #163 "[fix][README] Feedback link deactivated."
The link on README is found deactivated.
[code]

Believing that the survey has ended, it is time to remove it.

[2022-10-01 15:36] davidkhala opened #164 "[doc] Add hyperlink"
In the index page https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/typescriptsdk.htm

The section **Services Supported** list out all the service.

It is good, but can we hyperlink each service item text to corresponding module page/doc/github README.md?

[2022-10-01 17:20] Sirherobrine23 opened #165 "Error with SimpleAuthenticationDetailsProvider"
I'm creating a SimpleAuthenticationDetailsProvider because I'm using Vercel, but I'm getting an error.

Error:
[code]

my function:

[code]

[2022-10-04 19:08] KartikShrikantHegde commented on #163
Hi @davidkhala,

Thank you for reporting this issue. We will take out the link.

Thanks.

[2022-10-05 15:23] KartikShrikantHegde commented on #118
Hi @greg-md ,

I will be closing this issue for now based on the workaround and Yash's response. Please feel free to reopen this if needed.

Thanks.

[2022-10-05 15:23] #118 closed

[2022-10-05 17:52] waruwaruwaru commented on #165
Hi @Sirherobrine23, at which line of code does the error occur? From this example and the error message, it does not look like the error is occuring in this code snippet but rather somewhere else where your possibly making an API call with object storaoge? From the error, I can see the requestEndpoint does not look correct. It is missing https://

[2022-10-05 18:15] Sirherobrine23 commented on #165
`uploadFileToBucket` function current no use.

My file:

[code]

[2022-10-05 19:25] KartikShrikantHegde commented on #164
Hi @davidkhala ,

Thanks for raising the issue. We will take a look.

[2022-10-05 20:48] Sirherobrine23 commented on #165
My console log: [log](https://github.com/oracle/oci-typescript-sdk/files/9718880/consolelog.md)

[2022-10-05 21:01] waruwaruwaru commented on #165
is this issue only happening for uploadFileToBucket()? Do getFiles() work fine?
What environment are you running the SDK in? Is it in NodeJS environment or Browser? Please note, our SDK do not support browser environment.

[2022-10-05 21:13] waruwaruwaru commented on #165
Can you try providing a region when instantiating a new SimpleAuthenticationDetailsProvider object.
`new common.SimpleAuthenticationDetailsProvider(tenancy, user, fingerprint, private_key, null, common.Region.SA_SAOPAULO_1)`

[2022-10-05 21:16] Sirherobrine23 commented on #165
worked, thank you.

[2022-10-05 21:16] #165 closed

[2022-10-10 17:29] KartikShrikantHegde commented on #164
Hi @davidkhala ,

Can you please give us an example as to what exact link you are looking for one of the services?

Thanks.

[2022-10-14 01:46] davidkhala commented on #164
@KartikShrikantHegde For example,
**Analytics Cloud** link to https://github.com/oracle/oci-typescript-sdk/tree/master/lib/analytics

[2022-10-26 17:34] waruwaruwaru commented on #163
Feedback link is now removed. Please feel free to re-open this issue if there are any more questions or concern.

[2022-10-26 17:34] #163 closed

[2022-10-27 13:34] KartikShrikantHegde commented on #164
Hi @davidkhala ,

We will keep this ticket open to see if other users like the idea. We haven't had this request before and would like to see if this is something larger audiences want as well. From our side, we have this marked as a backlog item for now.

Thanks.

[2022-11-03 15:11] mariusrak opened #169 "ENOENT uuid node package"
Hi. I am getting randomly this error. But the file exists. I tried `cat /usr/src/app/.../node_modules/oci-common/node_modules/uuid/v1.js` and content was there. The error appear after I rebuild and reload application.

[code]

[2022-11-11 00:56] vamman opened #171 "How to add ssh keys when using launch_instance"
Hey there Oracle team. I am using your Javascript SDK and have been successful in launching an instance on OCI. However, I am not able to figure out for the life of me how to add my ssh keys to the instance through the API. I need to add my SSH keys to the instance I am launching to complete my automation task.

In the Python SDK you can do this. Thank you for your help!

[2022-11-14 16:57] KartikShrikantHegde commented on #171
Hi @vamman ,

Can you please share the API you used to add the SSH keys for Python SDK? That could help us investigate if there is an issue in Javascript SDK or not.

Thanks.

[2022-11-14 18:36] vamman commented on #171
Sure.

https://github.com/oracle/oci-python-sdk/blob/master/examples/launch_instance_example.py
https://github.com/oracle/oci-python-sdk/blob/00cd57d72b7095cba79fa1fe04bb936dae67c3d6/src/oci/core/models/launch_instance_details.py

There is a parameter in the instance metadata to specify the authorized ssh keys. I can not find a similar method in this SDK.

We need to attach the ssh key with the in

[2022-11-14 20:26] KartikShrikantHegde commented on #171
Thanks @vamman .

Can you please refer to this API - https://docs.oracle.com/en-us/iaas/api/#/en/iaas/20160918/Instance/LaunchInstance

There is a Typescript SDK sample on the page -> https://docs.oracle.com/en-us/iaas/api/#/en/iaas/20160918/Instance/LaunchInstance:~:text=Go%20SDK-,TypeScript,-SDK

The typescript example also has a metadata attribute from which you can specify your ssh keys. Let m

[2022-11-21 17:31] waruwaruwaru commented on #169
Hi @mariusrak what version of the SDK are you using? Can you also provide the steps to reproduce this error? I created a project and `npm install oci-sdk `and did not get this issue. Let me know how I can reproduce it. Thanks!

[2022-11-28 16:08] #171 closed